* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
body {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.6;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  padding-right: 32px;
  padding-left: 32px;
  /* stick it to the top */
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  /* Semi-transparent background & The foggy/blur effect */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
h1 {
  font-family: "Permanent Marker", "Poppins", "Segoe UI";
  font-size: 55px;
}
h2 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 50px;
}
h3 {
  font-family: "Poppins";
}
p {
  padding-bottom: 8px;
  font-family: "Cormorant";
  font-size: 20px;
}
ul {
  list-style-type: none;
}
label {
  color: black;
}
input {
  color: rgb(0, 0, 0);
  text-decoration: none;
  position: relative;
  font-family: "Poppins";
  padding: 8px;
  border-radius: 10px;
  background-color: transparent;
  border-width: 1px;
  border-color: black;
}
textarea {
  color: black;
  text-decoration: none;
  position: relative;
  font-family: "Poppins";
  padding: 8px;
  border-radius: 10px;
  background-color: transparent;
  border-width: 1px;
  border-color: black;
  height: 100px;
  resize: vertical;
}
button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  background-color: black;
  transition: backgroud-color ease 0.5s;
}
button:hover {
  cursor: pointer;
  background-color: white;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 8px;
  color: white;
}
.nav_setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
/* LVHA Rule for anchor links and Underline slide effect*/
a {
  color: inherit;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
}
/* Underline effects */
a::after {
  content: ""; /*intialization for the browser*/
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}
a:link {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover::after {
  color: inherit;
  transform: scaleX(1);
}
a:active {
  color: inherit;
}

nav ul li {
  display: flex;
  flex-direction: row;
}
/* Hero Section */
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
  margin: 0px;
  padding: 50px 32px 0px;
}
.hero_details_whole {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 50%;
  width: 50px;
}
.hero_details_card {
  display: block;
  width: 100%;
}
.hero_details_list_grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  column-gap: 64px;
}
.hero_details_list_grid div {
  padding: 16px;
  padding-left: 0%;
}
.hero_details_list_grid div dt {
  font-weight: bold;
}
.My_image_container {
  position: absolute; /* Detaches image from normal section bounds */
  right: 50px; /* Aligns it to the right edge of the hero */
  top: 70%; /* Pushes the top edge down to the exact middle */
  width: 40%; /* Controls the horizontal space it occupies */
  z-index: 10; /* Places it on top of the next section */
}
.My_image_styles {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}
/* ----- New scroll-effect property------ We will use JAVA-script(better-approach) to do this later
.glideUp_scroll_effect {
  animation: glideUp linear both;
  animation-timeline: scroll(root); ----  Links animation to the page scroll 
  animation-range: entry 0% exit 100%; ---- Plays while entering and leaving viewport 
}*/
/* @keyframes glideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateX(-80px);
  }
} */

/* -----About Me Section----- */
.About {
  margin: 350px 0px 100px;
  padding: 64px 32px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
}
.About_head {
  padding-bottom: 22px;
}
.About_para p {
  padding-bottom: 16px;
}
/* -----Skills Section------ */
.Skills {
  margin: 100px 0px 100px;
  padding: 64px 32px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.skills_grid_list {
  padding-bottom: 64px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  width: 90%;
}
.skills_grid_list_parts {
  padding-top: 16px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  width: 100%;
  column-gap: 260px;
  opacity: 70%;
}
.skills_grid_list_parts dd {
  border: 1px solid rgb(116, 116, 116);
  border-radius: 20px;
  background-color: transparent;
  padding: 6px 12px;
  width: max-content; /*very important property*/
  margin: 0;
  margin-bottom: 8px;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}
.skills_grid_list_parts dd:hover {
  color: black;
  background-color: white;
}
.skills_grid_list div div dt {
  font-weight: bold;
  font-size: 29px;
  font-family: "Cormorant", "Inter", sans-serif;
}
/* underline-element in the grid */
.skills_grid_list div div dt::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -4px;
  left: 0px;
  background-color: rgb(255, 255, 255);
}
/* -----Experience & Education----- */
.Experience__Education {
  padding: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
}

/* -----Projects----- */
.Projects {
 margin: 100px 0px 100px;
  padding: 38px 32px 0px;
}
.Projects div ul {
  padding: 0px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
  width: 100%;
}

.Projects div ul li {
  width: 50%;
  border: 1px solid white;
  border-radius: 20px;
  padding: 12px 12px 6px;
  text-align: center;
  box-shadow: 0 4px 6px white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Projects div ul li:hover{
  transform: translateY(-8px);
    box-shadow: 0 12px 20px ;
}
.in_btw_flex {
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* -----Comtacts----- */
.contacts {
  margin-top: 100px;
  padding: 85px;
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}
.my_contact_details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.contact_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.viewer_details {
  padding: 16px;
  background-color: white;
  border-radius: 10px;
  width: 50%;
}

.viewer_details form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16px;
}

.viewer_details form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 8px;
}
.button_text {
  font-family: "Poppins";
  padding: 8px;
  font-size: 16px;
  color: #ffffff;
  transition: color ease 0.5s;
}
.button_text:hover {
  color: rgb(0, 0, 0);
}

/* -----Footer----- */
.footer_division {
  margin-top: 100px;
  padding: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.my_details_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}
.my_contacts_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 24%;
}
.my_contacts_footer a {
  all:unset;
  padding: 6px 12px;
  border: 1px solid;
  border-color: rgb(150, 149, 151);
  border-radius: 20px;
  transition: background-color ease 0.3s, color ease 0.3s;
}

.my_contacts_footer a:hover{
  cursor: pointer;
  background-color: white;
  color: black;
}